{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Search{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{% if titlearticle %}We found {{ titlearticle }}{% else %}You haven't searched yet{% endif %}</h1>
    <h1>{% if number %}Sentiment is {{ number }}{% else %} NOTHING {% endif %}</h1>
    <h3>{% if searchterm %}You entered: {{ searchterm }} {% endif %}</h3>
    <h3>{% if wikiUrl %}Here's the url if you're curious: {{ wikiUrl }} {% endif %}</h3>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
